
<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Yeni Cari Kaydı</h3>
        <div class="login-agileits-top">
            <form method="post">
                <input type="text" class="name" name="ad" Placeholder="Adınız" required="" />
                <input type="text" class="name" name="soyad" Placeholder="Soyadınız" required="" />
                <input type="text" class="name" name="sehir" Placeholder="Şehir" required="" />
                <input type="email" class="mail" name="mail" Placeholder="Mail Adresi" required="" />
                <input type="password" class="password" name="sifre" Placeholder="Şifre" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kuralları okudum &amp; Kabul Ediyorum</label>
                </div>
                <input type="submit" value="Kaydol">
            </form>
        </div>
    </div>
</div>
