@using MvcTicariOtomasyonu.Models.Siniflar
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Departman</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Departman Ad</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detay</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ad</td>
            <td><a href="/Departman/DepartmanSil/@x.id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Departman/DepartmanGetir/@x.id" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Departman/DepartmanDetay/@x.id" class="btn btn-warning">Detay</a></td>
        </tr>
    }
</table>
<a class="btn btn-primary" href="/Departman/DepartmanEkle">Yeni Departman</a>